.emptylist {
    color: rgb(179, 179, 179);
    width: 100%;
}

.listCon {
    position: absolute;
    color: rgb(0, 0, 0);
    width: 100%;
    max-height: 32rem;
    transform: translateY(100px);
    overflow-y: scroll;
}

.listItem {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
