.search {
    /* border: 1px solid black; */
    display: flex;
    gap: 1rem;
    padding: 2rem;
    white-space: nowrap;
}

.search input {
    background-color: rgb(221, 234, 255);
    font-size: 20px;
    border: 0;
    padding: 1rem;
    border-radius: 15px;
}

.search_init_btn {
    background-color: rgb(6, 106, 255);
    color: white;
    border-radius: 15px;
    padding: 1rem;
    border: 0;
}
